extends layout 

block content 
    #content
    h1 Checkout
    div(id="content")
        h1 Acquisto fallito, si prega di selezionare un altro articolo

        a(href='/visualizza') Torna alla visualizzazione prodotti