extends layout 

block content 
    #content
      section#upper
        h1= "Electronics eCommerce"
        a(href='/login') login 

      
      img(id="immagine", src="/images/hero-ecommerce.png")
